@model Locadora.ViewModels.LocadoraCreateData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<table class="table">
    <tr>
        <th>Nome</th>
    </tr>
    @foreach(var item in Model.Cliente)
    {
        <tr class="selectRow" valign="top">
            <td>@Html.DisplayFor(itemModel => item.Nome)</td>
            <td>@Html.ActionLink("Select", "", new { id = item.ID })</td>
        </tr>
    }
</table>

@if(Model.Cliente != null)
{
    <h3>Cliente Selecionado</h3>

    <table class="table">
        <tr>
            <th></th>
            <th>Filme</th>
        </tr>

        @foreach(var item in Model.Filme)
        {
            <tr class="selectRow">
                <td>@Html.DisplayFor(itemModel=> item.Nome)</td>
                <td>@Html.ActionLink("Select", "", new { id = item.FilmeID })</td>
            </tr>
        }
    </table>
}

@if(Model.Filme != null)
{
    <h3>Filme selected</h3>

    @foreach (var item in Model.Locacao)
    {
        <div class="form-group">
            @Html.LabelFor(model => item.DateLocacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.DateLocacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.DateLocacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => item.DateEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.DateEntrega, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.DateEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
