@model IEnumerable<Locadora.Models.Locacao>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("searchString", ViewBag.CurrentFilter as string)

    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filme.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLocacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEntrega)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Filme.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLocacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEntrega)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocacaoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocacaoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocacaoID })
        </td>
    </tr>
}

</table>
