@model IEnumerable<Locadora.Models.Filme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    @Html.TextBox("stringSearch", ViewBag.CurrentSearch as string)
    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genero.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isLocated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genero.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isLocated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilmeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmeID })
        </td>
    </tr>
}

</table>
